 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p> Scrap Yard Creative provides full fledged film, video, and media services with an absolute emphasis on storytelling.</p>                    
                </div>
                <div class="col-lg-4">
                    <p>Much like scraps found in a scrap yard, we aim to provide content that helps to expand or strengthen your marketing strategies, while also piecing together unique material to bring your individual stories to a visually compelling medium.</p>
                </div>
             </div>
        </div>
    </section>
